.gameover {
  margin: 1.5em;
}
.button {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1em;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: white;
}
h3 {
  margin: 5px;
}
span {
  font-weight: bold;
}
