.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  font-weight: bolder;
  color: black;
  place-items: center;
  font-size: 30px;
}
#correct {
  background-color: rgb(43, 201, 43);
}
#inAccurate {
  background-color: rgb(246, 246, 106);
}
#wrong {
  background-color: rgb(221, 107, 107);
}
