* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/260171.png");
  padding-top: 1em;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: black;
}
.container {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 1.5em;
  flex-direction: column;
}
.instructions {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  line-height: 1.2;
}
.green {
  background-color: rgb(43, 201, 43);
}
.yellow {
  background-color: rgb(246, 246, 106);
}
.red {
  background-color: rgb(221, 107, 107);
}
@media (max-width: 660px) {
  .instructions {
    font-size: 1em;
  }
}
