.key {
  display: grid;
  place-items: center;
  color: white;
  background-color: black;
  width: 3.5em;
  height: 5em;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}
#namedKey {
  width: 10em;
}
#disabled {
  background-color: #3a393c;
}

@media (max-width: 375px) {
  .key {
    height: 3em;
  }
}
